<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
    <a class="brand" href="#">TreeBook</a>
    	<ul class="nav ">
		  	<li class="divider-vertical">
		  			<%= link_to "All Statuses", statuses_path  %>
		  	</li>
		</ul>
	</div>
 </div>
</div>